@page "/productcategories"
@rendermode InteractiveServer

@inject HttpClient Http
@inject NavigationManager Navigation

<h3>ProductCategories</h3>

@if (productCategories != null)
{
    <FluentButton OnClick="@CreateButtonClick">Nuova categoria prodotto</FluentButton>
    <FluentDataGrid Items="@productCategories.AsQueryable()">
        <PropertyColumn Property="@(p => p.Code)" Sortable="true" />
        <PropertyColumn Property="@(p => p.Name)" Sortable="true" />
        <PropertyColumn Property="@(p => p.Description)" Sortable="true" />
        <PropertyColumn Property="@(p => p.ParentCategoryId)" Sortable="true" />
        <PropertyColumn Property="@(p => p.Level)" Sortable="true" />
    </FluentDataGrid>
}

@code {
    IEnumerable<ProductCategoryViewModel>? productCategories;

    protected override async Task OnInitializedAsync()
    {
        string uri = "https://localhost:7282/api/productcategory";
        productCategories = await Http.GetFromJsonAsync<IEnumerable<ProductCategoryViewModel>>(uri);
    }

    private void CreateButtonClick()
    {
        Navigation.NavigateTo("edit-productcategory");
    }
}
