@page "/products"

@inject IHttpClientFactory HttpClientFactory
@inject NavigationManager Navigation

<h3>Prodotti / Servizi</h3>

@if (products != null)
{
    <FluentButton OnClick="@CreateButtonClick">Nuovo prodotto/servizio</FluentButton>
    <FluentDataGrid Items="@products.AsQueryable()">
        <PropertyColumn Property="@(p => p.Code)" Sortable="true" />
        <PropertyColumn Property="@(p => p.Name)" Sortable="true" />
        <PropertyColumn Property="@(p => p.Description)" Sortable="true" />
        <PropertyColumn Property="@(p => p.ProductCategoryName)" Sortable="true" />
        <PropertyColumn Property="@(p => p.TaxRateName)" Sortable="true" />
    </FluentDataGrid>
}

@code {

    private HttpClient HttpClient => HttpClientFactory.CreateApiClient();

    IEnumerable<ProductViewModel>? products;

    protected override async Task OnInitializedAsync()
    {
        string uri = "product";
        products = await HttpClient.GetFromJsonAsync<IEnumerable<ProductViewModel>>(uri);
    }

    private void CreateButtonClick()
    {
        Navigation.NavigateTo("edit-product");
    }
}
