@page "/taxrates"

@inject IHttpClientFactory HttpClientFactory
@inject NavigationManager Navigation

<h3>Aliquote Iva</h3>

@if (taxRates != null)
{
    <FluentButton OnClick="@CreateButtonClick">Nuova Aliquota Iva</FluentButton>
    <FluentDataGrid Items="@taxRates.AsQueryable()">
        <PropertyColumn Property="@(p => p.Code)" Sortable="true" />
        <PropertyColumn Property="@(p => p.Name)" Sortable="true" />
        <PropertyColumn Property="@(p => p.Description)" Sortable="true" />
        <PropertyColumn Property="@(p => p.TaxRateNatureName)" Sortable="true" />
    </FluentDataGrid>
}

@code {

    private HttpClient HttpClient => HttpClientFactory.CreateApiClientVs();

    IEnumerable<TaxRateViewModel>? taxRates;

    protected override async Task OnInitializedAsync()
    {
        string uri = "taxrates";
        taxRates = await HttpClient.GetFromJsonAsync<IEnumerable<TaxRateViewModel>>(uri);
    }

    private void CreateButtonClick()
    {
        Navigation.NavigateTo("edit-taxrate");
    }
}
